<!--ترجمه شده توسط مرجع تخصصی برنامه نویسان-->
<!DOCTYPE html>
<html lang="en">
<head>
    <partial name="_MetaTags" />
    <link rel="shortcut icon" href="/img/favicon.png">

    <title>املاک کاشانه</title>

    <!-- Bootstrap core CSS -->
    <partial name="_Styles" />

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="/js/html5shiv.js"></script>
      <script src="/js/respond.min.js"></script>
    <![endif]-->
</head>

<body id="top">
    <!--ترجمه شده توسط مرجع تخصصی برنامه نویسان-->
    <!-- begin:navbar -->
<partial name="_MainMenu" />
    <!-- end:navbar -->
    <!--ترجمه شده توسط مرجع تخصصی برنامه نویسان-->
    <!-- begin:header -->
    <div id="header" class="header-slide">
        <div class="container">
            <div class="row">
                <div class="col-md-5">
                    <div class="quick-search">
                        <div class="row">
                            <form role="form">
                                <div class="col-md-6 col-sm-6 col-xs-6">
                                    <div class="form-group">
                                        <label for="country">کشور</label>
                                        <select class="form-control">
                                            <option>استرالیا</option>
                                            <option>اندونزی</option>
                                            <option>ژاپن</option>
                                            <option>کره جنوبی</option>
                                            <option>چین</option>
                                        </select>
                                    </div>
                                    <div class="form-group">
                                        <label for="bedroom">اطاق خواب</label>
                                        <select class="form-control">
                                            <option>1</option>
                                            <option>2</option>
                                            <option>3</option>
                                            <option>4</option>
                                        </select>
                                    </div>
                                </div>
                                <!-- break -->
                                <div class="col-md-6 col-sm-6 col-xs-6">
                                    <div class="form-group">
                                        <label for="location">محل</label>
                                        <select class="form-control">
                                            <option>تاسمانی</option>
                                            <option>یوگیاکارتا</option>
                                            <option>توکیو</option>
                                            <option>بوسان</option>
                                            <option>تایپه</option>
                                        </select>
                                    </div>
                                    <div class="form-group">
                                        <label for="bathroom">حمام</label>
                                        <select class="form-control">
                                            <option>1</option>
                                            <option>2</option>
                                            <option>3</option>
                                            <option>4</option>
                                        </select>
                                    </div>
                                </div>
                                <!-- break -->
                                <div class="col-md-6 col-sm-6 col-xs-6">
                                    <div class="form-group">
                                        <label for="status">وضعیت</label>
                                        <select class="form-control">
                                            <option>برای فروش</option>
                                            <option>برای اجاره</option>
                                        </select>
                                    </div>
                                    <div class="form-group">
                                        <label for="minprice">هزینه حداقل</label>
                                        <select class="form-control">
                                            <option>$4,200</option>
                                            <option>$6,700</option>
                                            <option>$8,150</option>
                                            <option>$11,110</option>
                                        </select>
                                    </div>
                                </div>
                                <!-- break -->
                                <div class="col-md-6 col-sm-6 col-xs-6">
                                    <div class="form-group">
                                        <label for="type">نوع</label>
                                        <select class="form-control">
                                            <option>ویلا</option>
                                            <option>ساکن</option>
                                            <option>تجاری</option>
                                        </select>
                                    </div>
                                    <div class="form-group">
                                        <label for="maxprice">حداکثر هزینه</label>
                                        <select class="form-control">
                                            <option>$8,200</option>
                                            <option>$11,700</option>
                                            <option>$14,150</option>
                                            <option>$21,110</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-12 col-sm-12"><input type="submit" name="submit" value="جستجو" class="btn btn-primary btn-lg btn-block"></div>

                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- end:header -->
<!--ترجمه شده توسط مرجع تخصصی برنامه نویسان-->
<div>
@RenderBody()
</div>
    <!-- begin:footer -->
    <partial name="_Footer" />
    <!-- end:footer -->
    <!-- begin:modal-signin -->
    <div class="modal fade" id="modal-signin" tabindex="-1" role="dialog" aria-labelledby="modal-signin" aria-hidden="true">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">ورود</h4>
                </div>
                <div class="modal-body">
                    <form role="form">
                        <div class="form-group">
                            <label for="emailAddress">ایمیل</label>
                            <input type="email" class="form-control input-lg" placeholder="ایمیل">
                        </div>
                        <div class="form-group">
                            <label for="password">کلمه عبور</label>
                            <input type="password" class="form-control input-lg" placeholder="کلمه عبور">
                        </div>
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" name="forget"> مرا بخاطر بسپار
                            </label>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <p>آیا ثبت نام نکرده اید ? <a href="#modal-signup" data-toggle="modal" data-target="#modal-signup">ثبت نام</a></p>
                    <input type="submit" class="btn btn-primary btn-block btn-lg" value="ورود به سایت">
                </div>
            </div>
        </div>
    </div>
    <!-- end:modal-signin -->
    <!-- begin:modal-signup -->

<!-- end:modal-signup -->
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="/js/jquery.js"></script>
    <script src="/js/bootstrap.js"></script>
    <script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false&amp;language=en"></script>
    <script src="/js/gmap3.min.js"></script>
    <script src="/js/jquery.easing.js"></script>
    <script src="/js/jquery.jcarousel.min.js"></script>
    <script src="/js/imagesloaded.pkgd.min.js"></script>
    <script src="/js/masonry.pkgd.min.js"></script>
    <script src="/js/jquery.backstretch.js"></script>
    <script src="/js/jquery.nicescroll.min.js"></script>
    <script src="/js/script.js"></script>
</body>
</html>
<!--ترجمه شده توسط مرجع تخصصی برنامه نویسان-->
@await RenderSectionAsync("Scripts",false)