@model Kashaneh.Core.DTOs.RegisterViewModel


<div class="modal fade" id="modal-signup" tabindex="-1" role="dialog" aria-labelledby="modal-signup" aria-hidden="true">
    <div class="modal-dialog modal-sm">
        <div class="modal-content" id="modal-register">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">ثبت نام</h4> 
            </div>
            <div class="modal-body">
                <form role="form">
                    <div class="form-group">
                        <input type="نام کاربری" class="form-control input-lg" placeholder="نام کاربری" asp-for="UserName">
                    </div>
                    <div class="form-group">
                        <input type="ایمیل" class="form-control input-lg" placeholder="ایمیل" asp-for="Email">
                    </div>
                    <div class="form-group">
                        <input type="کلمه عبور" class="form-control input-lg" placeholder="کلمه عبور" asp-for="Password">
                    </div>
                    <div class="form-group">
                        <input type="تکرار کلمه عبور" class="form-control input-lg" placeholder="تکرار کلمه عبور" asp-for="RePassword">
                    </div>
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" name="agree"> آیا با قوانین <a href="#">سایت ما موافق هستید؟</a>
                        </label>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <p>آیا ثبت نام کرده اید؟ <a href="#modal-signin" data-toggle="modal" data-target="#modal-signin">ورود به سایت.</a></p>
                <input type="submit" class="btn btn-primary btn-block btn-lg" value="ثبت نام">
            </div>
        </div>
    </div>
</div>

